{{#if loading}}
    {{paper-progress-linear}}
{{else}}
    <div style="height: 5px;"></div>
{{/if}}

<div class="layout-row flex" style="background-color: white !important">
  <div class="flex" ></div>


    <div class="form-login layout-column" style="position: fixed; margin: 2.5% 35% 0% 35%; width: 30%; height: 90%">

      <div class="layout-row">
        <div class="flex"></div>
        <img width="170px" height="85px"  src="{{rootUrl}}/assets/images/logo.png" >
        <div class="flex"></div>
      </div>
      {{#paper-form id="form-login" onSubmit=(action "authenticate") as |form|}}

          {{form.input value=identification label='Usuário' class='form-control'
            onChange=(action (mut identification)) required=true errorMessages=(hash required="Campo obrigatório" )}}
          {{form.input value=password label='Senha' class='form-control' type='password'
            onChange=(action (mut password)) required=true errorMessages=(hash required="Campo obrigatório" )}}

          {{#form.submit-button raised=true primary=true}}Login{{/form.submit-button}}


      {{/paper-form}}

      {{#if errorMessage}}
          <span style="color: red;text-align: center">Usuário ou senha incorretos</span>
      {{/if}}

    </div>



  <div class="flex"></div>
</div>

