<div class="flex form-content">
    {{#paper-form onSubmit=(action "addEvent") as |form|}}
        <div class="layout-column flex">
            <div class="layout-row flex">
                {{form.input class="flex" label="Nome" value=event.name onChange=(action (mut event.name)) required=true
                    errorMessages=(hash required="Campo obrigatório" )}}

                {{form.input class="flex" label="Cep" type="number" min="10000000" max="99999999" value=event.cep
                    onChange=(action (mut event.cep)) focusOut=(action "getAddress")
                    errorMessages=(hash min="Cep inválido." max="Cep inválido." required="Campo obrigatório" ) required=true }}

                {{form.input class="flex" label="Logradouro" value=event.street onChange=(action (mut event.street))
                    errorMessages=(hash required="Campo obrigatório" ) required=true }}
            </div>
            <div class="layout-row flex">
                {{form.input class="flex" label="Cidade" value=event.city onChange=(action (mut event.city))
                    errorMessages=(hash required="Campo obrigatório" ) required=true }}

                {{form.input class="flex" label="Número" type="number" min="1" max="9999999999" value=event.number onChange=(action (mut event.number))
                    errorMessages=(hash min="Cep inválido." max="Cep inválido." required="Campo obrigatório" ) required=true}}

                {{form.input class="flex" label="Telefone Contato com DDD" type="number" min="1000000000" max="99999999999"
                  value=event.phone onChange=(action (mut event.phone))
                    errorMessages=(hash min="Telefone inválido." max="Telefone inválido." required="Campo obrigatório" ) required=true}}


            </div>

            <div class="layout-row flex">

                {{form.input class="flex" label="Email Contato" value=event.email onChange=(action (mut event.email))
                    customValidations=emailValidation}}

                {{form.input class="flex" label="Data de Início" type="date" value=event.dateStart onChange=(action (mut event.dateStart))
                    errorMessages=(hash required="Campo obrigatório") required=true}}

                {{form.input class="flex" label="Data de Fim" type="date" value=event.dateEnd onChange=(action (mut event.dateEnd))}}
            </div>

            <div class="layout-row flex">

                {{form.input class="flex" label="Horário de Início" type="text" value=event.timeStart onChange=(action (mut event.timeStart))
                    customValidations=timeValidation errorMessages=(hash required="Campo obrigatório") required=true}}

                {{form.input class="flex" label="Horário de Fim" type="text" value=event.timeEnd onChange=(action (mut event.timeEnd))
                    customValidations=timeValidation errorMessages=(hash required="Campo obrigatório") required=true}}

                {{form.input class="flex" label="Entrada (Dinheiro, Alimento...)" type="text" value=event.price
                  maxlength=100 onChange=(action (mut event.price))}}
            </div>

            <div class="layout-row flex">
              {{form.input class="flex" label="Descrição" textarea=true block=true value=event.description
                onChange=(action (mut event.description)) required=true maxlength=255 passThru=(hash rows=5 maxRows=5)
                errorMessages=(hash required="Campo obrigatório" )}}
            </div>

            <div class="layout-row flex">
              {{x-uploader class="flex" onInit='uploaderInit' name='photos' acceptedTypes='image/*' maxFiles=15 errors=errors addLabel='Clique aqui para adicionar fotos'}}
            </div>
        </div>

        {{paper-divider}}

        <div class="layout-row layout-align-end-center">
            {{#form.submit-button accent=true raised=true }}Salvar{{/form.submit-button}}
            {{#paper-button raised=true onClick=(action "cancel")}}Cancelar{{/paper-button}}
        </div>
    {{/paper-form}}
</div>


{{#if dialog.show}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closeDialog") clickOutsideToClose=true}}

    {{#paper-dialog-content}}
      <h2 class="md-title">{{dialog.title}}</h2>
      <p>{{dialog.msg}}</p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeDialog")}}Ok{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}