.x-uploader {
  background: #eeeeee;
  padding: 4px;
  margin: 1rem 0;

  input[type=file] {
    display: none;
  }

  .items {
    .item {
      padding: 3px;
      float: left;
      width: 283px;
      cursor: pointer;

      .inner {
        background: #ffffff;
        padding: 8px;

        .thumbnail {
          background: #ffffff;

          img {
            width: 100%;
            max-width: 300px;
            display: block;
          }
        }

        .info {
          height: 1.5em;
          overflow: hidden;
        }

        .error-message {
          display: none;
        }

        &:hover {
          .thumbnail {
            position: relative;

            .error-message {
              display: block;
              position: absolute;
              background: rgba(211, 47, 47, 0.9);
              color: #ffffff;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              overflow-y: auto;

              .text {
                position: relative;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
                text-align: center;
              }
            }
          }
        }
      }

      &.invalid {
        .inner {
          background: rgb(211, 47, 47);
          color: #ffffff;
        }
      }
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .add-file {
    height: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    position: relative;;

    .counter {
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: right;
    }
  }
}
