$material-icon-path: 'assets/material-icon';

$main-color: #604834;
$menu-color: #111c29;

@import "color-palette";

$color-comercial: (
  '50': #e8f5e9,
  '100': #cddce5,
  '200': rgba(189, 175, 159, 0.6),
  '500': $main-color,
  '600': $main-color,
  '700': $main-color,
  '800': $main-color,
  '900': $main-color,
  'A100': #cddce5,
  'A400': rgba(189, 175, 159, 0.6),
  'contrast': $dark-contrast-color
);

$color-comercial-accent: (
  '50': #e8f5e9,
  '100': #cddce5,
  '300': rgba(189, 175, 159, 0.6),
  '500': $main-color,
  '600': $main-color,
  '700': $main-color,
  '800': $main-color,
  '900': $main-color,
  'A100': #cddce5,
  'A200': $main-color,
  'A400': $main-color,
  'A700': $main-color,
  'contrast': $light-contrast-color
);

// variables
$primary: $color-comercial;
$accent: $color-comercial-accent;
$warn: "red";

$padding: 35px;

// selectors
body {
  background-color: #fff !important;
  height: auto !important;
}

@media screen and (min-width: 600px) {
  md-sidenav {
    max-width: 280px !important;
  }
}

.no-overflow-visible::-webkit-scrollbar {
    display: none;
}

.submenu {
  padding-left: 20px;
}

md-icon.md-default-theme, md-icon {
  color: #000!important;
}

md-icon.md-default-theme.icon-black, md-icon {
  color: #fff !important;
}

md-icon.md-default-theme.icon-red, md-icon {
  color: red !important;
}

button.md-fab {
  background-color: $main-color !important;
}

.user-menu {
  background-color: $main-color !important;
  color: #ffffff !important;
  margin-top: -10px
}

button.md-fab.fab-fixed {
  position: fixed !important;
  right: $padding;
  bottom: $padding;
}

.form-content {
  background-color: #ffffff !important;
  min-height: 90vh;
  padding: 20px;
}

.form-login {
  background-color: #ffffff !important;
/*  min-height: 45vh;*/
  padding: 20px;
}

button.form-login.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-raised,
.md-button.md-primary.md-fab {
  color: #ffffff !important;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar),
a.md-button.md-default-theme.md-primary.md-raised:not([disabled]),
a.md-button.md-default-theme.md-primary.md-fab:not([disabled]),
a.md-button.md-primary.md-raised:not([disabled]),
a.md-button.md-primary.md-fab:not([disabled]),
.md-button.md-default-theme.md-primary.md-raised:not([disabled]),
.md-button.md-default-theme.md-primary.md-fab:not([disabled]),
 .md-button.md-primary.md-raised:not([disabled]),
 .md-button.md-primary.md-fab:not([disabled]) {
  color: #ffffff !important;
  background-color: $main-color !important;
}

md-input-container .md-input [disabled], md-input-container .md-input[disabled],
md-input-container.md-default-theme .md-input [disabled],
md-input-container.md-default-theme .md-input[disabled] {
  color: #000000 !important;
}

md-toolbar.md-default-theme.main-toolbar {
  background-color: #e6e6e6 !important;
  color: #000000 !important;
}

.all-space-height {
  height: 100vh;
}

md-content.md-default-theme, md-content.main-sidnavbar {
  background-color: $menu-color !important;
  color: #ffffff !important;
  overflow-y: auto !important;
  height: 100vh;
  //min-height: 95vh;
}

md-list-item > md-icon:first-child:not(.md-avatar-icon),
md-list-item .md-list-item-inner > md-icon:first-child:not(.md-avatar-icon) {
  margin-right: 12px !important;
}

.icon-menu {
  padding-right: 15px;
}

md-input-container .md-input [disabled], md-input-container .md-input[disabled],
md-input-container.md-default-theme .md-input [disabled],
md-input-container.md-default-theme .md-input[disabled] {
  color: rgba(0,0,0,.26) !important;
}

md-toolbar.md-default-theme.ember-view.menu-header {
  background: linear-gradient(to right, $main-color 0%, #fff 100%);
  height: 130px !important;
}

.repeated-item {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  height: 40px;
  padding-top: 10px;
  padding-left: 16px;
}

.vertical-demo {
  height: 296px;
  width: 100%;
  max-width: 400px;
  border: solid 1px grey;
}

.title {
  padding-bottom: 15px;
  font-weight: bold;
}

@import 'ember-paper';
@import 'paper-data-table';
@import "ember-paper-selection-dialog";
@import 'x-uploader';
