<div class="flex form-content">
    {{#paper-form onSubmit=(action "addPlace") as |form|}}
        <div class="layout-column flex">
            <div class="layout-row flex">
                {{form.input class="flex" label="Nome" value=place.name onChange=(action (mut place.name)) required=true
                    errorMessages=(hash required="Campo obrigatório" )}}

                {{form.input class="flex" label="Cep" type="number" min="10000000" max="99999999" value=place.cep
                    onChange=(action (mut place.cep)) focusOut=(action "getAddress")
                    errorMessages=(hash min="Cep inválido." max="Cep inválido." required="Campo obrigatório" ) required=true }}

                {{form.input class="flex" label="Logradouro" value=place.street onChange=(action (mut place.street))
                    errorMessages=(hash required="Campo obrigatório" ) required=true }}
            </div>
            <div class="layout-row flex">
                {{form.input class="flex" label="Cidade" value=place.city onChange=(action (mut place.city))
                    errorMessages=(hash required="Campo obrigatório" ) required=true }}

                {{form.input class="flex" label="Número" type="number" min="1" max="9999999999" value=place.number onChange=(action (mut place.number))
                    errorMessages=(hash min="Cep inválido." max="Cep inválido." ) required=true}}

                {{form.input class="flex" label="Telefone Contato com DDD" type="number" min="1000000000" max="99999999999"
                  value=place.phone onChange=(action (mut place.phone))
                    errorMessages=(hash min="Telefone inválido." max="Telefone inválido." required="Campo obrigatório" ) required=true}}


            </div>

            <div class="layout-row flex">

                {{form.input class="flex" label="Email Contato" value=place.email onChange=(action (mut place.email))
                    customValidations=emailValidation}}

                <div class="flex">
                  {{#paper-button raised=true onClick=(action "showDialog")}}Associar Categorias{{/paper-button}}
                </div>

                {{#if showItems}}
                    {{#paper-selection-dialog
                        title=labelSelect class="flex-50" fullscreen=true cancelLabel="Cancelar"
                        options=model.categories selected=place.categories multiple=true
                        onSelect=(action (mut place.categories)) onClose=(action "closeDialogCategories") as |option index selected|}}
                        {{option.description}}
                    {{/paper-selection-dialog}}
                {{/if}}
            </div>

            <div class="layout-row flex">
              {{form.input class="flex" label="Descrição" textarea=true block=true value=place.description
                onChange=(action (mut place.description)) required=true maxlength=255 passThru=(hash rows=5 maxRows=5)
                errorMessages=(hash required="Campo obrigatório" )}}
            </div>

            <div class="layout-row flex">
              {{x-uploader class="flex" onInit='uploaderInit' name='photos' acceptedTypes='image/*' maxFiles=15 errors=errors addLabel='Clique aqui para adicionar fotos'}}
            </div>
        </div>

        {{paper-divider}}

        <div class="layout-row layout-align-end-center">
            {{#form.submit-button accent=true raised=true }}Salvar{{/form.submit-button}}
            {{#paper-button raised=true onClick=(action "cancel")}}Cancelar{{/paper-button}}
        </div>
    {{/paper-form}}
</div>


{{#if dialog.show}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closeDialog") clickOutsideToClose=true}}

    {{#paper-dialog-content}}
      <h2 class="md-title">{{dialog.title}}</h2>
      <p>{{dialog.msg}}</p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeDialog")}}Ok{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}