{{#paper-card class="layout-column"}}

    {{#paper-card-content}}
      {{#paper-data-table stickyHeaders=false as |table|}}
        {{#table.head as |head|}}
                {{#head.column}}Descrição{{/head.column}}
            {{/table.head}}
            {{#table.body as |body|}}
                {{#each model as |category|}}
                    {{#body.row as |row|}}
                        {{#row.cell}}{{category.description}}{{/row.cell}}
                        {{#row.cell}}
                            {{#paper-menu isOpen=menuTwoIsOpen as |menu|}}
                                {{#menu.trigger}}
                                    {{#paper-button onClick=null iconButton=true}}
                                        {{paper-icon "more_vert" class="md-menu-origin"}}
                                    {{/paper-button}}
                                {{/menu.trigger}}

                                {{#menu.content as |content|}}
                                    {{#content.menu-item onClick=(action "editCategory" category)}}
                                        {{paper-icon 'create' class="md-menu-align-target"}}
                                        <span>Editar</span>
                                    {{/content.menu-item}}
                                    {{#content.menu-item onClick=(action "confirmDialogDeleteCategory" category)}}
                                        {{paper-icon 'delete' class="md-menu-align-target"}}
                                        <span>Excluir</span>
                                    {{/content.menu-item}}
                                {{/menu.content}}
                            {{/paper-menu}}
                        {{/row.cell}}
                    {{/body.row}}
                {{/each}}
            {{/table.body}}
        {{/paper-data-table}}
    {{/paper-card-content}}

    {{#paper-button class="fab-fixed" raised=true fab=true onClick=(action "newCategory")}}
        {{paper-icon "add" class="icon-black"}}
    {{/paper-button}}

{{/paper-card}}

{{#if dialog.show}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closeDialog") clickOutsideToClose=true}}

    {{#paper-dialog-content}}
      <h2 class="md-title">{{dialog.title}}</h2>
      <p>{{dialog.msg}}</p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeDialog")}}Ok{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}

{{#if showConfirmDialog}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "cancelConfirmDeleteCategory") clickOutsideToClose=false}}

    {{#paper-dialog-content}}
      <h2 class="md-title">Atenção</h2>
      <p>Confirmar exclusão da categoria selecionada?</p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "cancelConfirmDeleteCategory")}}Não{{/paper-button}}
      {{#paper-button primary=true onClick=(action "deleteCategory")}}Sim{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}