<div class="flex form-content">
  {{#paper-form onSubmit=(action "addCategory") as |form|}}
      <div class="layout-column flex">
          <div class="layout-row flex">
              {{form.input class="flex" label="Descrição" textarea=true block=true value=category.description
                onChange=(action (mut category.description)) required=true maxlength=255 passThru=(hash rows=5 maxRows=5)
                errorMessages=(hash required="Campo obrigatório" )}}
          </div>

        <div class="layout-row flex">
            {{x-uploader class="flex" onInit='uploaderInit' name='icon' acceptedTypes='image/*' maxFiles=1 maxFileSize="100KB"
              errors=errors addLabel='Clique aqui para adicionar um ícone'}}
        </div>
      </div>

      {{paper-divider}}

      <div class="layout-row layout-align-end-center">
          {{#form.submit-button accent=true raised=true }}Salvar{{/form.submit-button}}
          {{#paper-button raised=true onClick=(action "cancel")}}Cancelar{{/paper-button}}
      </div>
  {{/paper-form}}
</div>

{{#if dialog.show}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closeDialog") clickOutsideToClose=true}}

    {{#paper-dialog-content}}
      <h2 class="md-title">{{dialog.title}}</h2>
      <p>{{dialog.msg}}</p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeDialog")}}Ok{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}