<div class="flex form-content">
    {{#paper-form onSubmit=(action "addConf") as |form|}}
        <div class="layout-column flex">
            <span class="title">Configuração de Email</span>
            <div class="layout-row flex">
                {{form.input class="flex" label="Conta de Email" type="email" value=conf.email onChange=(action (mut conf.email))
                    customValidations=emailValidation }}

                {{form.input class="flex" label="Senha" type="password" value=conf.password onChange=(action (mut conf.password))
                    }}

                {{form.input class="flex" label="Servidor Email" value=conf.server onChange=(action (mut conf.server))
                    }}

                {{form.input class="flex" label="Porta Servidor" type="number" min="1" max="99999999" value=conf.port
                    onChange=(action (mut conf.port))
                    errorMessages=(hash min="Porta inválida." max="Valor muito longo." )}}
            </div>

            <span class="title"style="padding-bottom: 15px;">Configuração Inicial</span>

            <div class="layout-row flex">
              {{form.input class="flex" label="Descrição" textarea=true block=true value=conf.description
                onChange=(action (mut conf.description)) maxlength=3000 passThru=(hash rows=6 maxRows=6)}}
            </div>

            <div class="layout-row flex">
              {{x-uploader class="flex" onInit='uploaderInit' name='photo' acceptedTypes='image/*' maxFiles=1
                errors=errors addLabel='Clique aqui para adicionar uma foto'}}
            </div>

            <span class="title">Configuração de Contato</span>

            <div class="layout-row flex">
                {{form.input class="flex" label="Email Contato" value=conf.emailContact onChange=(action (mut conf.emailContact))
                    errorMessages=(hash required="Campo obrigatório" ) customValidations=emailValidation}}

                {{form.input class="flex" label="Telefone Contato com DDD" type="number" min="1000000000" max="99999999999"
                  value=conf.phoneContact onChange=(action (mut conf.phoneContact))
                    errorMessages=(hash min="Telefone inválido." max="Telefone inválido." )}}

            </div>
        </div>

        {{paper-divider}}

        <div class="layout-row layout-align-end-center">
            {{#form.submit-button accent=true raised=true }}Salvar{{/form.submit-button}}
        </div>
    {{/paper-form}}
</div>


{{#if dialog.show}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closeDialog") clickOutsideToClose=true}}

    {{#paper-dialog-content}}
      <h2 class="md-title">{{dialog.title}}</h2>
      <p>{{dialog.msg}}</p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeDialog")}}Ok{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}