{{#paper-card class="layout-column"}}

    {{#paper-card-content}}
      {{#paper-data-table stickyHeaders=false as |table|}}
        {{#table.head as |head|}}
                {{#head.column}}Nome{{/head.column}}
                {{#head.column}}Login{{/head.column}}
                {{#head.column}}Email{{/head.column}}
                {{#head.column}}Situação{{/head.column}}
            {{/table.head}}
            {{#table.body as |body|}}
                {{#each model as |user|}}
                    {{#body.row as |row|}}
                        {{#row.cell}}{{user.name}}{{/row.cell}}
                        {{#row.cell}}{{user.login}}{{/row.cell}}
                        {{#row.cell}}{{user.email}}{{/row.cell}}
                        {{#row.cell}}
                            {{#if user.status}}
                                Desbloqueado
                            {{else}}
                                Bloqueado
                            {{/if}}
                        {{/row.cell}}
                        {{#row.cell}}
                            {{#paper-menu isOpen=menuTwoIsOpen as |menu|}}
                                {{#menu.trigger}}
                                    {{#paper-button onClick=null iconButton=true}}
                                        {{paper-icon "more_vert" class="md-menu-origin"}}
                                    {{/paper-button}}
                                {{/menu.trigger}}

                                {{#menu.content as |content|}}
                                    {{#content.menu-item onClick=(action "editUser" user)}}
                                        {{paper-icon 'create' class="md-menu-align-target"}}
                                        <span>Editar</span>
                                    {{/content.menu-item}}
                                    {{#content.menu-item onClick=(action "confirmDialogDeleteUser" user)}}
                                        {{paper-icon 'delete' class="md-menu-align-target"}}
                                        <span>Excluir</span>
                                    {{/content.menu-item}}
                                    {{#if user.status}}
                                        {{#content.menu-item onClick=(action "disableUser" user.id)}}
                                            {{paper-icon 'lock outline' class="md-menu-align-target"}}
                                            <span>Bloquear</span>
                                        {{/content.menu-item}}
                                    {{else}}
                                        {{#content.menu-item onClick=(action "enableUser" user.id)}}
                                            {{paper-icon 'lock open' class="md-menu-align-target"}}
                                            <span>Desbloquear</span>
                                        {{/content.menu-item}}
                                    {{/if}}
                                {{/menu.content}}
                            {{/paper-menu}}
                        {{/row.cell}}
                    {{/body.row}}
                {{/each}}
            {{/table.body}}
        {{/paper-data-table}}
    {{/paper-card-content}}

    {{#paper-button class="fab-fixed" accent=true raised=true fab=true onClick=(action "newUser")}}
        {{paper-icon "add" class="icon-black"}}
    {{/paper-button}}

{{/paper-card}}

{{#if showDialog}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closeDialog") clickOutsideToClose=true}}

    {{#paper-dialog-content}}
      <h2 class="md-title">Sucesso</h2>
      <p>Usuário deletado com sucesso</p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeDialog")}}Ok{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}

{{#if showConfirmDialog}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "cancelConfirmDeleteUser") clickOutsideToClose=false}}

    {{#paper-dialog-content}}
      <h2 class="md-title">Atenção</h2>
      <p>Confirmar exclusão do usuário selecionado?</p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "cancelConfirmDeleteUser")}}Não{{/paper-button}}
      {{#paper-button primary=true onClick=(action "deleteUser")}}Sim{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}

{{#if dialog.show}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closeDialog") clickOutsideToClose=true}}

    {{#paper-dialog-content}}
      <h2 class="md-title">{{dialog.title}}</h2>
      <p>{{dialog.msg}}</p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeDialog")}}Ok{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}