<div class="flex form-content">
    {{#paper-form onSubmit=(action "addUser") as |form|}}
        <div class="layout-row">
            <div class="layout-column flex-50">
                {{form.input label="Nome" value=user.name onChange=(action (mut user.name)) required=true
                    errorMessages=(hash required="Campo obrigatório" )}}

                {{form.input label="Senha" type="password" value=user.password onChange=(action (mut user.password))
                    errorMessages=(hash required="Campo obrigatório" ) required=true}}
            </div>
            <div class="layout-column flex-50">
                {{form.input label="Email" type="email" value=user.email onChange=(action (mut user.email))
                    errorMessages=(hash required="Campo obrigatório" ) required=true customValidations=emailValidation }}
            </div>
        </div>

        {{paper-divider}}

        <div class="layout-row layout-align-end-center">
            {{#form.submit-button accent=true raised=true }}Salvar{{/form.submit-button}}
            {{#paper-button raised=true onClick=(action "cancel")}}Cancelar{{/paper-button}}
        </div>
    {{/paper-form}}
</div>


{{#if dialog.show}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closeDialog") clickOutsideToClose=true}}

    {{#paper-dialog-content}}
      <h2 class="md-title">{{dialog.title}}</h2>
      <p>{{dialog.msg}}</p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeDialog")}}Ok{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}