{{#paper-sidenav-container class="site-nav-container flex all-space-height"}}
    {{#paper-sidenav class="md-whiteframe-z2 main-sidnavbar" name="left2"
            isLockedOpen=leftSideBarLockedOpen  }}
        {{#paper-toolbar class="menu-header" as |toolbar|}}
            {{#paper-toolbar-tools}}
                <div class="layout-column">
                    <div class="layout-column" style="padding-top: 35px;">
                        <img height="85px"  src="{{pathSuffix}}assets/images/logo.png" >
                        <span style="font-size: 14px; padding: 10px 0px 0px 20px;">{{userName}}</span>
                        <span style="font-size: 9px; padding-left: 20px;">{{perfil}}</span>
                    </div>
                </div>
            {{/paper-toolbar-tools}}
        {{/paper-toolbar}}
        {{#paper-content padding=true class="no-overflow-visible" }}
            {{#paper-list }}
                {{#paper-item onClick=(action "goUsers") class="submenu-item" }}
                        <img width="20px" class="icon-menu" src="{{pathSuffix}}assets/icons/user.svg"/>
                        Usuário
                    {{/paper-item}}
                    {{#paper-item onClick=(action "goCategories") class="submenu-item" }}
                        <img width="20px" class="icon-menu" src="{{pathSuffix}}assets/icons/category.svg"/>
                        Categoria
                    {{/paper-item}}
                    {{#paper-item onClick=(action "goPlaces") class="submenu-item" }}
                        <img width="20px" class="icon-menu" src="{{pathSuffix}}assets/icons/warehouse.svg"/>
                        Local
                    {{/paper-item}}
                    {{#paper-item onClick=(action "goEvents") class="submenu-item" }}
                        <img width="20px" class="icon-menu" src="{{pathSuffix}}assets/icons/flag.svg"/>
                        Evento
                    {{/paper-item}}
                    {{#paper-item onClick=(action "goConfigurations") class="submenu-item" }}
                        <img width="20px" class="icon-menu" src="{{pathSuffix}}assets/icons/config.svg"/>
                        Configuração
                    {{/paper-item}}

            {{/paper-list}}
        {{/paper-content}}
    {{/paper-sidenav}}

    <div tabindex="-1" role="main" class="flex layout-column all-space-height">
        {{#paper-toolbar class="main-toolbar"}}
            {{#paper-toolbar-tools}}
                {{#paper-button iconButton=true onClick=(action "toggle" "leftSideBarLockedOpen")}}
                    {{paper-icon "menu"}}
                {{/paper-button}}
                <span class="flex"></span>
                {{#if titleIcon }}
                    <img width="40px" class="icon-menu" src="{{pathSuffix}}assets/icons/{{titleIcon}}.svg"/>
                {{/if}}

                <h2>{{title}}</h2>
                <span class="flex"></span>
                {{#paper-menu isOpen=menuTwoIsOpen position="target-right target" as |menu|}}
                    {{#menu.trigger}}
                        {{#paper-button onClick=null iconButton=true}}
                            {{paper-icon "account circle" class="md-menu-origin"}}
                        {{/paper-button}}
                    {{/menu.trigger}}

                    {{#menu.content as |content|}}
                        {{#content.menu-item class="user-menu"}}
                            <span>{{userName}}</span>
                        {{/content.menu-item}}
                        {{#content.menu-item onClick=(action "setAlterPassword")}}
                            <span>Alterar Senha</span>
                        {{/content.menu-item}}
                        {{#content.menu-item onClick=(action "logout")}}
                            <span>Sair</span>
                        {{/content.menu-item}}
                    {{/menu.content}}
                {{/paper-menu}}
            {{/paper-toolbar-tools}}
            {{#if loading}}
                {{paper-progress-linear}}
            {{else}}

            {{/if}}
        {{/paper-toolbar}}

        <div class="all-space-height" style="overflow-y: auto; background-color: #f2f2f2;">


            {{outlet}}
        </div>
    </div>
{{/paper-sidenav-container}}

{{#if alterPassword}}
    {{#paper-dialog fullscreen=fullscreen onClose=(action "cancelAlterPassword") clickOutsideToClose=true}}
        {{#paper-form onSubmit=(action "requestAlterPassword") as |form|}}

            {{#paper-toolbar}}
                {{#paper-toolbar-tools}}
                    <h2 class="md-title">Alteração de Senha</h2>
                {{/paper-toolbar-tools}}
            {{/paper-toolbar}}

            {{#if loadingPasswd}}
                {{paper-progress-linear}}
            {{else}}
                <div style="height: 5px;"></div>
            {{/if}}

            {{#paper-dialog-content}}

                <div class="layout-column flex-100">
                    <div class="layout-row layout-align-end-center">
                        {{form.input label="Senha atual" type="password" required=true value=user.password
                            errorMessages=(hash required="Campo obrigatório" ) onChange=(action (mut user.password))}}
                    </div>
                    <div class="layout-row layout-align-end-center">
                        {{form.input label="Nova Senha" type="password" required=true value=user.newPassword
                            errorMessages=(hash required="Campo obrigatório" ) onChange=(action (mut user.newPassword))}}
                    </div>
                    <div class="layout-row layout-align-end-center">
                        {{form.input label="Confirmar Nova Senha" type="password" required=true value=user.passwordConfirm
                            errorMessages=(hash required="Campo obrigatório" )
                            onChange=(action (mut user.passwordConfirm))}}
                    </div>
                </div>
            {{/paper-dialog-content}}

            {{#paper-dialog-actions class="layout-row"}}
                <span class="flex"></span>
                {{#form.submit-button accent=true raised=true }}Alterar{{/form.submit-button}}
            {{/paper-dialog-actions}}
        {{/paper-form}}

    {{/paper-dialog}}
{{/if}}

{{#if dialog.show}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closeDialog") clickOutsideToClose=true}}

    {{#paper-dialog-content}}
      <h2 class="md-title">{{dialog.title}}</h2>
      <p>{{dialog.msg}}</p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeDialog")}}Ok{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}

{{#if dialogError.show}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closeDialog") clickOutsideToClose=true}}

    {{#paper-dialog-content}}
        <div class="layout-row">
            <div style="padding-right: 10px;">{{paper-icon dialogError.icon size=48 class="icon-red"}}</div>
            <p>{{dialogError.msg}}</p>
        </div>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeDialog")}}Ok{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}